.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

form {
    padding: 100px 50px;
    max-width: 400px;
    width: 100%;
    border: 1px solid #ddd; 
    box-shadow: 0 2px 10px #0000001a; 
    background-color: #fff;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #F6851F;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #d3711c;
}

