
.footer-class {
    background-color: #a1a1a1;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 1rem;
    font-size: .9rem;
    display: flex;
}

.footer-class a {
    color: white;
    font-size: 1rem;
    padding: 0.2rem;
    text-decoration: none; 
}

.footer-class a:hover {
    text-decoration: underline;
}

.footer-class p {
    color: white;
    font-size: 1rem;
    padding: 0.2rem;
}